.lp-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.lp-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 50px;
    width: 100%;
    box-sizing: border-box;
}

.lp-image {
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.lp-item {
    flex: 1 0 21%;
    margin: 1.5%;
    padding: 10px;
    box-sizing: border-box;
    max-width: 250px;
}

.lp-item h2:hover {
    color: brown;
}

.lp-item h2 {
    font-size: 1.5rem;
    font-family: "Neue Haas Unica", "Arial", sans-serif;
}

.lp-item p {
    margin-bottom: 0.5rem;
}

.lp-item a {
    text-decoration: none;
}

@media (max-width: 615px) {
    .lp-item {
        flex: 1 0 100%;
        margin: 10px auto;
    }
}
