/* robotDetail.css */
.robot-detail {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%; /* adjust as needed */
}

.robot-detail h2 {
    margin-bottom: 0.5rem;
}

.robot-detail h2:hover {
    color: brown;
}

.robot-detail img {
    height: 350px;
    width: 350px;
    object-fit: cover;
}

.robot-detail p {
    margin: 0.125rem;
    max-width: 600px;
}

.robot-detail button {
    background-color: #2e0049;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.robot-detail button:hover {
    background-color: #4e1f6c;
}

.robot-detail a {
    text-decoration: underline;
}

.back-link {
    display: block;
    margin-top: 20px;
}
